<!-- login page -->
<section>
  <div *ngIf="logoutMessage" class="text-center"><span class="text-success">Vous venez de vous déconnecter.</span></div>
  <div class="login container">
    <h3 class="my-4">Formulaire de connexion</h3>
    <!-- login form -->
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- username field -->
        <div class="mb-3">
          <label for="username" class="form-label">Identifiant</label>
          <input type="text" class="form-control" id="username"
                required
                placeholder="Saisir votre identifiant"
                formControlName="username"
                >
        <!-- password field -->
        </div>
          <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password"
                required
                placeholder="Saisir votre mot de passe"
              formControlName="password"
              >
        </div>
        <!-- error message if credentials are incorrect  -->
        <div *ngIf="wrongCredentials"><span class="text-danger">L'identifiant et/ou le mot de passe sont erronés</span></div>
        <button type="submit" class="btn btn-success mt-3" id="btn-login">Se connecter</button>
      </div>
    </form>
  </div>
  <div class="d-flex mt-5 mb-5 justify-content-center">
    <button routerLink="/" class="btn btn-success m-1" id="btn-home-page">
      Revenir au catalogue
    </button>
  </div>
</section>
