<section class="mentions-legales container mb-5">
  <h3 class="text-center m-5">NOS MENTIONS LÉGALES</h3>
  <div class="infos-societe">
    <h5 class="text-center">Informations sur la société</h5>
    <p>Raison sociale : Raison sociale</p>
    <p>Forme juridique : Forme juridique</p>
    <p>Montant du capital social : Capital social en €</p>
    <p>Numéro de SIRET : Numéro de SIRET</p>
    <p>Capital social : Capital social</p>
    <p>Nom du directeur de publication : Directeur de la publication</p>
    <p>Nom de responsable de la rédaction : Responsable de la rédaction</p>
    <p>Adresse du siège social : Adresse du siège social</p>
    <p>Adresse email : Adresse emain</p>
  </div>
  <div class="infos-hebergeur">
    <h5 class="text-center">Informations sur l'hébergeur</h5>
    <p>Nom : Nom de l'hébergeur</p>
    <p>Raison sociale : Raison sociale de l'hébergeur</p>
    <p>Adresse : Adresse de l'hébergeur</p>
    <p>Numéro de téléphone : Numéro de téléphone</p>
  </div>
</section>
