<!-- cgu page -->
<section class="cgu container">
  <h3 class="text-center m-5">NOS CONDITIONS D'UTILISATION</h3>
  <div class="mt-2">
    <h5>Lorem ipsum dolor sit</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt consequatur voluptates. Voluptates, commodi dolorum. Qui deserunt pariatur veniam? Quo inventore itaque perspiciatis laudantium animi est nemo perferendis aperiam fugit!
      Sunt quibusdam autem incidunt quod? In, perspiciatis placeat rerum inventore quod esse atque modi culpa veritatis accusamus dolore quo voluptatibus unde ducimus veniam minima est praesentium dolor illo eveniet doloremque.
      Nam reprehenderit quaerat, cumque magnam excepturi totam iste tempora? Repudiandae explicabo quia ipsa maiores saepe alias sequi voluptas sint nam. Delectus asperiores dolorum dolores id eos similique maiores, distinctio molestiae.
      Praesentium id odio deleniti beatae dolor officia exercitationem atque iure tempora libero itaque quas aliquam eveniet, dolorem, pariatur repudiandae explicabo culpa neque aperiam nam? Nulla praesentium rerum animi tempore explicabo!
      Voluptatibus perspiciatis asperiores iste, assumenda neque maiores quod consectetur molestias culpa similique officia eum eaque, doloremque mollitia eius quae rem veritatis sunt reiciendis! Recusandae, possimus. Iure distinctio praesentium nesciunt. Eligendi.
      Odit, facere aliquid at officia, rem, quas nesciunt iure dolor nobis deserunt esse voluptates enim officiis! Sunt culpa beatae perferendis perspiciatis. Totam minima voluptatum enim placeat? Cum nemo dolore enim.</p>
  </div>
  <div class="mt-2">
    <h5>Lorem ipsum dolor sit</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt consequatur voluptates. Voluptates, commodi dolorum. Qui deserunt pariatur veniam? Quo inventore itaque perspiciatis laudantium animi est nemo perferendis aperiam fugit!
      Sunt quibusdam autem incidunt quod? In, perspiciatis placeat rerum inventore quod esse atque modi culpa veritatis accusamus dolore quo voluptatibus unde ducimus veniam minima est praesentium dolor illo eveniet doloremque.
      Nam reprehenderit quaerat, cumque magnam excepturi totam iste tempora? Repudiandae explicabo quia ipsa maiores saepe alias sequi voluptas sint nam. Delectus asperiores dolorum dolores id eos similique maiores, distinctio molestiae.
      Praesentium id odio deleniti beatae dolor officia exercitationem atque iure tempora libero itaque quas aliquam eveniet, dolorem, pariatur repudiandae explicabo culpa neque aperiam nam? Nulla praesentium rerum animi tempore explicabo!
      Voluptatibus perspiciatis asperiores iste, assumenda neque maiores quod consectetur molestias culpa similique officia eum eaque, doloremque mollitia eius quae rem veritatis sunt reiciendis! Recusandae, possimus. Iure distinctio praesentium nesciunt. Eligendi.
      Odit, facere aliquid at officia, rem, quas nesciunt iure dolor nobis deserunt esse voluptates enim officiis! Sunt culpa beatae perferendis perspiciatis. Totam minima voluptatum enim placeat? Cum nemo dolore enim.</p>
  </div>
  <div class="mt-2">
    <h5>Lorem ipsum dolor sit</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt consequatur voluptates. Voluptates, commodi dolorum. Qui deserunt pariatur veniam? Quo inventore itaque perspiciatis laudantium animi est nemo perferendis aperiam fugit!
      Sunt quibusdam autem incidunt quod? In, perspiciatis placeat rerum inventore quod esse atque modi culpa veritatis accusamus dolore quo voluptatibus unde ducimus veniam minima est praesentium dolor illo eveniet doloremque.
      Nam reprehenderit quaerat, cumque magnam excepturi totam iste tempora? Repudiandae explicabo quia ipsa maiores saepe alias sequi voluptas sint nam. Delectus asperiores dolorum dolores id eos similique maiores, distinctio molestiae.
      Praesentium id odio deleniti beatae dolor officia exercitationem atque iure tempora libero itaque quas aliquam eveniet, dolorem, pariatur repudiandae explicabo culpa neque aperiam nam? Nulla praesentium rerum animi tempore explicabo!
      Voluptatibus perspiciatis asperiores iste, assumenda neque maiores quod consectetur molestias culpa similique officia eum eaque, doloremque mollitia eius quae rem veritatis sunt reiciendis! Recusandae, possimus. Iure distinctio praesentium nesciunt. Eligendi.
      Odit, facere aliquid at officia, rem, quas nesciunt iure dolor nobis deserunt esse voluptates enim officiis! Sunt culpa beatae perferendis perspiciatis. Totam minima voluptatum enim placeat? Cum nemo dolore enim.</p>
  </div>
  <div class="mt-2">
    <h5>Lorem ipsum dolor sit</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt consequatur voluptates. Voluptates, commodi dolorum. Qui deserunt pariatur veniam? Quo inventore itaque perspiciatis laudantium animi est nemo perferendis aperiam fugit!
      Sunt quibusdam autem incidunt quod? In, perspiciatis placeat rerum inventore quod esse atque modi culpa veritatis accusamus dolore quo voluptatibus unde ducimus veniam minima est praesentium dolor illo eveniet doloremque.
      Nam reprehenderit quaerat, cumque magnam excepturi totam iste tempora? Repudiandae explicabo quia ipsa maiores saepe alias sequi voluptas sint nam. Delectus asperiores dolorum dolores id eos similique maiores, distinctio molestiae.
      Praesentium id odio deleniti beatae dolor officia exercitationem atque iure tempora libero itaque quas aliquam eveniet, dolorem, pariatur repudiandae explicabo culpa neque aperiam nam? Nulla praesentium rerum animi tempore explicabo!
      Voluptatibus perspiciatis asperiores iste, assumenda neque maiores quod consectetur molestias culpa similique officia eum eaque, doloremque mollitia eius quae rem veritatis sunt reiciendis! Recusandae, possimus. Iure distinctio praesentium nesciunt. Eligendi.
      Odit, facere aliquid at officia, rem, quas nesciunt iure dolor nobis deserunt esse voluptates enim officiis! Sunt culpa beatae perferendis perspiciatis. Totam minima voluptatum enim placeat? Cum nemo dolore enim.</p>
  </div>
  <div class="mt-2">
    <h5>Lorem ipsum dolor sit</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt consequatur voluptates. Voluptates, commodi dolorum. Qui deserunt pariatur veniam? Quo inventore itaque perspiciatis laudantium animi est nemo perferendis aperiam fugit!
      Sunt quibusdam autem incidunt quod? In, perspiciatis placeat rerum inventore quod esse atque modi culpa veritatis accusamus dolore quo voluptatibus unde ducimus veniam minima est praesentium dolor illo eveniet doloremque.
      Nam reprehenderit quaerat, cumque magnam excepturi totam iste tempora? Repudiandae explicabo quia ipsa maiores saepe alias sequi voluptas sint nam. Delectus asperiores dolorum dolores id eos similique maiores, distinctio molestiae.
      Praesentium id odio deleniti beatae dolor officia exercitationem atque iure tempora libero itaque quas aliquam eveniet, dolorem, pariatur repudiandae explicabo culpa neque aperiam nam? Nulla praesentium rerum animi tempore explicabo!
      Voluptatibus perspiciatis asperiores iste, assumenda neque maiores quod consectetur molestias culpa similique officia eum eaque, doloremque mollitia eius quae rem veritatis sunt reiciendis! Recusandae, possimus. Iure distinctio praesentium nesciunt. Eligendi.
      Odit, facere aliquid at officia, rem, quas nesciunt iure dolor nobis deserunt esse voluptates enim officiis! Sunt culpa beatae perferendis perspiciatis. Totam minima voluptatum enim placeat? Cum nemo dolore enim.</p>
  </div>

</section>
