<section class="categories">

  <h3 class="ms-2 mt-2 fw-bold">NOS RAYONS</h3>
  <div class="d-flex flex-wrap justify-content-between mt-3 mb-2 mx-2">
      <ng-container *ngFor="let category of categoriesList">
        <div *ngIf="!category.parent" class="align-content-center mb-2">
            <a [routerLink]="['/categories', category.id]" class="btn btn-success category">
              {{category.label}}
            </a>
          </div>
      </ng-container>

  </div>

  <div class="d-flex flex-column">
      <a [routerLink]="['/catalogue']" class="btn btn-success all-categories fw-bold">
      Tous nos produits
      </a>
  </div>
</section>

