.navbar {
  height: 100%;
}

.navbar-brand-container{
  height: 100%;
}

.navbar-brand img {
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .navbar-brand img {
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    height: 25px;
  }
}

#login {
  color: white;
  text-decoration: none;
 }
