.navbar {
  height: 100%;
}

.navbar-brand-container{
  height: 100%;
}

.navbar-brand img {
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .navbar-brand img {
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    height: 25px;
  }
}

#login, #link-intranet {
  color: white;
  text-decoration: none;
 }

@media screen and (max-width: 992px) {
  .nav-button {
    display: inline-flex;
    flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
  .nav-button {
    display: flex;
    flex-direction: row;
    gap:1rem ;
    }
}
